<component name="libraryTable">
  <library name="spring-aop-5.3.9-javadoc">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-context-indexer-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-tx-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-instrument-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-web-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-aop-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-websocket-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-messaging-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-expression-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-jdbc-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-test-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-jcl-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-context-support-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-jms-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-orm-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-webflux-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-aspects-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-beans-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-webmvc-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-core-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-r2dbc-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-oxm-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-context-5.3.9.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-aop-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-tx-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-aspects-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-beans-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-jdbc-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-context-support-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-webmvc-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-webflux-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-context-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-test-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-jms-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-expression-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-websocket-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-r2dbc-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-instrument-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-context-indexer-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-oxm-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-web-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-orm-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-core-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-jcl-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-messaging-5.3.9-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-webflux-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-beans-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-test-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-aop-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-orm-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-jms-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-core-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-webmvc-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-websocket-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-instrument-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-web-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-aspects-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-jdbc-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-jcl-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-r2dbc-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-context-support-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-messaging-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-tx-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-context-indexer-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-context-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-expression-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/01-Hello-Spring/lib/spring-oxm-5.3.9-sources.jar!/" />
    </SOURCES>
  </library>
</component>